
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My Spring MVC App</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>

<div>
    <h1>Hello!</h1>
    <p>I'm Spring Security App</p>
    <p>Kata Academy</p>
    <p>Lesson 3.1.3</p>
    <p>version 0.0b</p>
    <a href="/user">Go to Users Page</a>
</div>
</body>
</html>